# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

#### Imports

In [45]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 1000)
from datetime import datetime as dt
import matplotlib

In [42]:
df = pd.read_csv('Data/zillow_data.csv')
df

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

In [33]:
df.columns[:100]

Index(['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName',
       'SizeRank', '1996-04', '1996-05', '1996-06', '1996-07', '1996-08',
       '1996-09', '1996-10', '1996-11', '1996-12', '1997-01', '1997-02',
       '1997-03', '1997-04', '1997-05', '1997-06', '1997-07', '1997-08',
       '1997-09', '1997-10', '1997-11', '1997-12', '1998-01', '1998-02',
       '1998-03', '1998-04', '1998-05', '1998-06', '1998-07', '1998-08',
       '1998-09', '1998-10', '1998-11', '1998-12', '1999-01', '1999-02',
       '1999-03', '1999-04', '1999-05', '1999-06', '1999-07', '1999-08',
       '1999-09', '1999-10', '1999-11', '1999-12', '2000-01', '2000-02',
       '2000-03', '2000-04', '2000-05', '2000-06', '2000-07', '2000-08',
       '2000-09', '2000-10', '2000-11', '2000-12', '2001-01', '2001-02',
       '2001-03', '2001-04', '2001-05', '2001-06', '2001-07', '2001-08',
       '2001-09', '2001-10', '2001-11', '2001-12', '2002-01', '2002-02',
       '2002-03', '2002-04', '2002-05', '2002-06', '2002-07', '2002-08',
       '2002-09', '2002-10', '2002-11', '2002-12', '2003-01', '2003-02',
       '2003-03', '2003-04', '2003-05', '2003-06', '2003-07', '2003-08',
       '2003-09', '2003-10', '2003-11', '2003-12'],
      dtype='object')

In [34]:
df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14723 entries, 0 to 14722
Data columns (total 272 columns):
 #   Column      Dtype
---  ------      -----
 0   RegionID    int64
 1   RegionName  int64
 2   City        object
 3   State       object
 4   Metro       object
 5   CountyName  object
 6   SizeRank    int64
 7   1996-04     float64
 8   1996-05     float64
 9   1996-06     float64
 10  1996-07     float64
 11  1996-08     float64
 12  1996-09     float64
 13  1996-10     float64
 14  1996-11     float64
 15  1996-12     float64
 16  1997-01     float64
 17  1997-02     float64
 18  1997-03     float64
 19  1997-04     float64
 20  1997-05     float64
 21  1997-06     float64
 22  1997-07     float64
 23  1997-08     float64
 24  1997-09     float64
 25  1997-10     float64
 26  1997-11     float64
 27  1997-12     float64
 28  1998-01     float64
 29  1998-02     float64
 30  1998-03     float64
 31  1998-04     float64
 32  1998-05     float64
 33  1998-06     float64
 34  1998-07     float64
 35  1998-08     float64
 36  1998-09     float64
 37  1998-10     float64
 38  1998-11     float64
 39  1998-12     float64
 40  1999-01     float64
 41  1999-02     float64
 42  1999-03     float64
 43  1999-04     float64
 44  1999-05     float64
 45  1999-06     float64
 46  1999-07     float64
 47  1999-08     float64
 48  1999-09     float64
 49  1999-10     float64
 50  1999-11     float64
 51  1999-12     float64
 52  2000-01     float64
 53  2000-02     float64
 54  2000-03     float64
 55  2000-04     float64
 56  2000-05     float64
 57  2000-06     float64
 58  2000-07     float64
 59  2000-08     float64
 60  2000-09     float64
 61  2000-10     float64
 62  2000-11     float64
 63  2000-12     float64
 64  2001-01     float64
 65  2001-02     float64
 66  2001-03     float64
 67  2001-04     float64
 68  2001-05     float64
 69  2001-06     float64
 70  2001-07     float64
 71  2001-08     float64
 72  2001-09     float64
 73  2001-10     float64
 74  2001-11     float64
 75  2001-12     float64
 76  2002-01     float64
 77  2002-02     float64
 78  2002-03     float64
 79  2002-04     float64
 80  2002-05     float64
 81  2002-06     float64
 82  2002-07     float64
 83  2002-08     float64
 84  2002-09     float64
 85  2002-10     float64
 86  2002-11     float64
 87  2002-12     float64
 88  2003-01     float64
 89  2003-02     float64
 90  2003-03     float64
 91  2003-04     float64
 92  2003-05     float64
 93  2003-06     float64
 94  2003-07     float64
 95  2003-08     float64
 96  2003-09     float64
 97  2003-10     float64
 98  2003-11     float64
 99  2003-12     float64
 100 2004-01     float64
 101 2004-02     float64
 102 2004-03     float64
 103 2004-04     float64
 104 2004-05     float64
 105 2004-06     float64
 106 2004-07     float64
 107 2004-08     float64
 108 2004-09     float64
 109 2004-10     float64
 110 2004-11     float64
 111 2004-12     float64
 112 2005-01     float64
 113 2005-02     float64
 114 2005-03     float64
 115 2005-04     float64
 116 2005-05     float64
 117 2005-06     float64
 118 2005-07     float64
 119 2005-08     float64
 120 2005-09     float64
 121 2005-10     float64
 122 2005-11     float64
 123 2005-12     float64
 124 2006-01     float64
 125 2006-02     float64
 126 2006-03     float64
 127 2006-04     float64
 128 2006-05     float64
 129 2006-06     float64
 130 2006-07     float64
 131 2006-08     float64
 132 2006-09     float64
 133 2006-10     float64
 134 2006-11     float64
 135 2006-12     float64
 136 2007-01     float64
 137 2007-02     float64
 138 2007-03     float64
 139 2007-04     float64
 140 2007-05     float64
 141 2007-06     float64
 142 2007-07     float64
 143 2007-08     float64
 144 2007-09     float64
 145 2007-10     float64
 146 2007-11     float64
 147 2007-12     float64
 148 2008-01     float64
 149 2008-02     float64
 150 2008-03     float64
 151 2008-04     float64
 152 2008-05     float64
 153 2008-06     float64
 154 2008-07     float64
 155 2008-08     float64
 156 2008-09     float64
 157 2008-10     float64
 158 2008-11     float64
 159 2008-12     float64
 160 2009-01     float64
 161 2009-02     float64
 162 2009-03     float64
 163 2009-04     float64
 164 2009-05     float64
 165 2009-06     float64
 166 2009-07     float64
 167 2009-08     float64
 168 2009-09     float64
 169 2009-10     float64
 170 2009-11     float64
 171 2009-12     float64
 172 2010-01     float64
 173 2010-02     float64
 174 2010-03     float64
 175 2010-04     float64
 176 2010-05     float64
 177 2010-06     float64
 178 2010-07     float64
 179 2010-08     float64
 180 2010-09     float64
 181 2010-10     float64
 182 2010-11     float64
 183 2010-12     float64
 184 2011-01     float64
 185 2011-02     float64
 186 2011-03     float64
 187 2011-04     float64
 188 2011-05     float64
 189 2011-06     float64
 190 2011-07     float64
 191 2011-08     float64
 192 2011-09     float64
 193 2011-10     float64
 194 2011-11     float64
 195 2011-12     float64
 196 2012-01     float64
 197 2012-02     float64
 198 2012-03     float64
 199 2012-04     float64
 200 2012-05     float64
 201 2012-06     float64
 202 2012-07     float64
 203 2012-08     float64
 204 2012-09     float64
 205 2012-10     float64
 206 2012-11     float64
 207 2012-12     float64
 208 2013-01     float64
 209 2013-02     float64
 210 2013-03     float64
 211 2013-04     float64
 212 2013-05     float64
 213 2013-06     float64
 214 2013-07     float64
 215 2013-08     float64
 216 2013-09     float64
 217 2013-10     float64
 218 2013-11     float64
 219 2013-12     float64
 220 2014-01     float64
 221 2014-02     float64
 222 2014-03     float64
 223 2014-04     float64
 224 2014-05     float64
 225 2014-06     float64
 226 2014-07     int64
 227 2014-08     int64
 228 2014-09     int64
 229 2014-10     int64
 230 2014-11     int64
 231 2014-12     int64
 232 2015-01     int64
 233 2015-02     int64
 234 2015-03     int64
 235 2015-04     int64
 236 2015-05     int64
 237 2015-06     int64
 238 2015-07     int64
 239 2015-08     int64
 240 2015-09     int64
 241 2015-10     int64
 242 2015-11     int64
 243 2015-12     int64
 244 2016-01     int64
 245 2016-02     int64
 246 2016-03     int64
 247 2016-04     int64
 248 2016-05     int64
 249 2016-06     int64
 250 2016-07     int64
 251 2016-08     int64
 252 2016-09     int64
 253 2016-10     int64
 254 2016-11     int64
 255 2016-12     int64
 256 2017-01     int64
 257 2017-02     int64
 258 2017-03     int64
 259 2017-04     int64
 260 2017-05     int64
 261 2017-06     int64
 262 2017-07     int64
 263 2017-08     int64
 264 2017-09     int64
 265 2017-10     int64
 266 2017-11     int64
 267 2017-12     int64
 268 2018-01     int64
 269 2018-02     int64
 270 2018-03     int64
 271 2018-04     int64
dtypes: float64(219), int64(49), object(4)
memory usage: 30.6+ MB

# Step 2: Data Preprocessing

In [35]:
df.columns.values[1:]

array(['RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank',
       '1996-04', '1996-05', '1996-06', '1996-07', '1996-08', '1996-09',
       '1996-10', '1996-11', '1996-12', '1997-01', '1997-02', '1997-03',
       '1997-04', '1997-05', '1997-06', '1997-07', '1997-08', '1997-09',
       '1997-10', '1997-11', '1997-12', '1998-01', '1998-02', '1998-03',
       '1998-04', '1998-05', '1998-06', '1998-07', '1998-08', '1998-09',
       '1998-10', '1998-11', '1998-12', '1999-01', '1999-02', '1999-03',
       '1999-04', '1999-05', '1999-06', '1999-07', '1999-08', '1999-09',
       '1999-10', '1999-11', '1999-12', '2000-01', '2000-02', '2000-03',
       '2000-04', '2000-05', '2000-06', '2000-07', '2000-08', '2000-09',
       '2000-10', '2000-11', '2000-12', '2001-01', '2001-02', '2001-03',
       '2001-04', '2001-05', '2001-06', '2001-07', '2001-08', '2001-09',
       '2001-10', '2001-11', '2001-12', '2002-01', '2002-02', '2002-03',
       '2002-04', '2002-05', '2002-06', '2002-07', '2002-08', '2002-09',
       '2002-10', '2002-11', '2002-12', '2003-01', '2003-02', '2003-03',
       '2003-04', '2003-05', '2003-06', '2003-07', '2003-08', '2003-09',
       '2003-10', '2003-11', '2003-12', '2004-01', '2004-02', '2004-03',
       '2004-04', '2004-05', '2004-06', '2004-07', '2004-08', '2004-09',
       '2004-10', '2004-11', '2004-12', '2005-01', '2005-02', '2005-03',
       '2005-04', '2005-05', '2005-06', '2005-07', '2005-08', '2005-09',
       '2005-10', '2005-11', '2005-12', '2006-01', '2006-02', '2006-03',
       '2006-04', '2006-05', '2006-06', '2006-07', '2006-08', '2006-09',
       '2006-10', '2006-11', '2006-12', '2007-01', '2007-02', '2007-03',
       '2007-04', '2007-05', '2007-06', '2007-07', '2007-08', '2007-09',
       '2007-10', '2007-11', '2007-12', '2008-01', '2008-02', '2008-03',
       '2008-04', '2008-05', '2008-06', '2008-07', '2008-08', '2008-09',
       '2008-10', '2008-11', '2008-12', '2009-01', '2009-02', '2009-03',
       '2009-04', '2009-05', '2009-06', '2009-07', '2009-08', '2009-09',
       '2009-10', '2009-11', '2009-12', '2010-01', '2010-02', '2010-03',
       '2010-04', '2010-05', '2010-06', '2010-07', '2010-08', '2010-09',
       '2010-10', '2010-11', '2010-12', '2011-01', '2011-02', '2011-03',
       '2011-04', '2011-05', '2011-06', '2011-07', '2011-08', '2011-09',
       '2011-10', '2011-11', '2011-12', '2012-01', '2012-02', '2012-03',
       '2012-04', '2012-05', '2012-06', '2012-07', '2012-08', '2012-09',
       '2012-10', '2012-11', '2012-12', '2013-01', '2013-02', '2013-03',
       '2013-04', '2013-05', '2013-06', '2013-07', '2013-08', '2013-09',
       '2013-10', '2013-11', '2013-12', '2014-01', '2014-02', '2014-03',
       '2014-04', '2014-05', '2014-06', '2014-07', '2014-08', '2014-09',
       '2014-10', '2014-11', '2014-12', '2015-01', '2015-02', '2015-03',
       '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09',
       '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03',
       '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09',
       '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03',
       '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09',
       '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03',
       '2018-04'], dtype=object)

In [36]:
def get_datetimes(df):
    """
    Takes a dataframe:
    returns only those column names that can be converted into datetime objects 
    as datetime objects.
    NOTE number of returned columns may not match total number of columns in passed dataframe
    """
    
    return pd.to_datetime(df.columns.values[1:], format='%Y-%m')

# Step 3: EDA and Visualization

In [46]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

matplotlib.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

# Step 4: Reshape from Wide to Long Format

In [47]:
def melt_data(df):
    """
    Takes the zillow_data dataset in wide form or a subset of the zillow_dataset.  
    Returns a long-form datetime dataframe 
    with the datetime column names as the index and the values as the 'values' column.
    
    If more than one row is passes in the wide-form dataset, the values column
    will be the mean of the values from the datetime columns in all of the rows.
    """
    
    melted = pd.melt(df, id_vars=['RegionName', 'RegionID', 'SizeRank', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

# Step 5: ARIMA Modeling

# Step 6: Interpreting Results